---
version: '3.8'

services:
  svelte-rich-text:
    image: valiantlynx/svelte-rich-text:latest
    container_name: svelte-rich-text
    restart: always
    networks:
      - monitoring

  valiantos:
    image: valiantlynx/valiantos:latest
    container_name: valiantos
    restart: always
    networks:
      - monitoring

  raga:
    image: valiantlynx/raga:latest
    container_name: raga
    restart: always
    networks:
      - monitoring
  raga-backend:
    image: valiantlynx/raga-backend:latest
    container_name: raga-backend
    restart: always
    networks:
      - monitoring

  gun-chat:
    container_name: gun-chat
    image: valiantlynx/gun-chat:latest
    restart: unless-stopped
    mem_limit: 100m
    memswap_limit: 100m
    healthcheck:
      test: ["CMD", "curl", "-f", "http://gun-chat.valiantlynx.com"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - monitoring
    depends_on:
      - gun-relay

  gun-relay:
    container_name: gun-relay
    image: valiantlynx/gun-relay:latest
    restart: unless-stopped
    mem_limit: 600m
    memswap_limit: 600m
    healthcheck:
      test: ["CMD", "curl", "-f", "http://gun-relay.valiantlynx.com"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - monitoring
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/logs:/var/log/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - svelte-rich-text
      - valiantos
      - raga
      - raga-backend
      - gun-chat
      - gun-relay
      
    restart: unless-stopped
    networks:
      - monitoring  
  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    ports:
      - 9100:9100
    command: 
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    networks:
      - monitoring
    volumes:
      - '/:/host:ro,rslave'

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg
    networks:
      - monitoring
  
networks:
  monitoring:
    name: monitoring
    external: true
